<%# default partial to display solr document fields in catalog show view -%>
<dl class="defList">
  <% document_show_fields.each do |solr_fname, field| -%>
    <% if document.has? solr_fname %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value :document => document, :field => solr_fname %></dd>

    <% end -%>

  <% end -%>

</dl>

<% #Below is code hacked in to show new metadata fields in some way for UnCamp September 8-9 2013 - Colleen Fallaw %>

<% begin %>

    <% # handle pairtree substitutions %>

    <% if APP_CONFIG['do_pairtree_substitutions?'] %>
        <% raw_document_id = document.id %>
        <% clean_document_id = raw_document_id.gsub("/", "=") %>
        <% clean_document_id = clean_document_id.gsub(":", "+") %>
        <% clean_document_id = clean_document_id.gsub(".", ",") %>
        <% uri = URI.parse(URI.encode("#{APP_CONFIG['solr_proxy_meta_url']}/select?q=id:#{clean_document_id}")) %>
    <% else %>
       <% uri = URI.parse(URI.encode("#{APP_CONFIG['solr_proxy_meta_url']}/select?q=id:#{document.id}")) %>
    <% end %>

     <% http = Net::HTTP.new(uri.host, uri.port) %>

    <% request = Net::HTTP::Get.new(uri.request_uri) %>

    <% response = http.request(request) %>

    <% xml = REXML::Document.new(response.body)%>

    <% nodes = REXML::XPath.first(xml, "//doc") %>

    <% if nodes != nil %>
        <dl class="defList">

        <% nodes.each do |node_element| %>
            <% htrc_node_name = node_element.attributes["name"] %>
            <% if htrc_node_name[0, 4] == "htrc" %>
                <% case htrc_node_name %>
                <% when "htrc_gender" %>
                    <%# display nothing -- this field is redundant for this display %>
                <% when "htrc_genderMale" %>
                    <% all_children = node_element.to_a %>
                    <% all_children.each do |child| %>
                        <dt><%= child.text %>: </dt> <dd>Male</dd>
                    <% end %>
                <% when "htrc_genderFemale" %>
                    <% all_children = node_element.to_a %>
                    <% all_children.each do |child| %>
                        <dt><%= child.text %>: </dt> <dd>Female</dd>
                    <% end %>
                <% when "htrc_genderUnknown" %>
                    <% all_children = node_element.to_a %>
                    <% all_children.each do |child| %>
                        <dt><%= child.text %>: </dt> <dd>Gender Unknown</dd>
                    <% end %>
                    <% when "htrc_volumePageCountBin" %>
                        <dt>Volume size by page: </dt>
                        <% case node_element.text %>
                        <% when "S" %>
                            <dd>Small</dd>
                        <% when "M" %>
                            <dd>Medium</dd>
                        <% when "L" %>
                            <dd>Large</dd>
                        <% when "XL" %>
                            <dd>Extra Large</dd>
                        <% else %>
                            <% child.text %>
                        <% end %>
                    <% when "htrc_volumeWordCountBin" %>
                        <dt>Volume size by word: </dt>
                        <% case node_element.text %>
                        <% when "S" %>
                            <dd>Small</dd>
                        <% when "M" %>
                            <dd>Medium</dd>
                        <% when "L" %>
                            <dd>Large</dd>
                        <% when "XL" %>
                            <dd>Extra Large</dd>
                        <% else %>
                            <% child.text %>
                        <% end %>
                    <% when "htrc_pageCount" %>
                        <dt>Page count: </dt> <dd><%= number_with_delimiter(Integer(node_element.text)) %></dd>
                    <% when "htrc_wordCount" %>
                        <dt>Word count: </dt> <dd><%= number_with_delimiter(Integer(node_element.text)) %></dd>
                    <% when "htrc_charCount" %>
                        <dt>Character count: </dt> <dd><%= number_with_delimiter(Integer(node_element.text)) %></dd>
                <% else %>
                        <dt><%= node_element.attributes["name"] %></dt>
                        <% if node_element.has_elements? %>
                            <% all_children = node_element.to_a %>

                            <% all_children.each do |child| %>
                                <dd><%= child.text %> </dd>
                            <% end %>

                        <% else %>

                            <dd><%= node_element.text %></dd>

                        <% end %>
                    <% end %>
                <% end %>

        <% end %>
        </dl>

    <% end %>
<% rescue Exception=>e %>
    <%# = e %>
  <p>Additional details not available for this volume at this time.</p>
<% end %>