

<%- if current_user.nil? -%>
    Please <%= link_to t('blacklight.header_links.login'), user_omniauth_authorize_path(:wso2)  %>.
<%- else -%>
  <%= form_tag(:controller => "registry", :action => "export") do %>
  <%- if !@worksets.nil? && @worksets.length > 0 -%>
     <h3>Update an existing workset</h3>
     <div id="updateWorkset" style="margin-left: 30px">
        <select id="ws" name="ws">
          <%- @worksets.each do |workset| -%>
              <option id="<%= workset['id'] %>" value="<%= workset['id'] %>"><%= workset["name"] %></option>
          <%- end -%>
        </select>
       <%= select_tag(:a, options_for_select([['Public', 'public'], ['Private', 'private']], 2)) %>
       <%= submit_tag("Update") %>
     </div>
   <% end %>
   <%- end -%>
     <hr align="left" style="margin-top: 30px; border 1px solid black; width: 440px; "/>
     <style>
       table, th, td {
          border: 0px
       }
       #n, #d, #tags {
          width:300px;
       }
    </style>
    <script>
       function validate() {
          var name = document.getElementById('n');
          var re = /^[a-zA-Z0-9_-]*$/;
          if (name.value == "") {
             alert("Workset name is required.");
             return false;
          }
          else if (!re.test(name.value)) {
             alert("Workset name can only contain the characters A-Z, 0-9, and _.");
             return false;
          }
          else {
             return true;
          }
       }
    </script>
    <%= form_tag({:controller => "registry", :action => "export"} , { :onSubmit => 'return validate()'} ) do %>
      <h3>Create a new workset</h3>
      <div id="createWorkset" style="margin-left: 20px">
         <table>
            <tr><td><%= label_tag(:n, "Name:") %>*</td><td><%= text_field_tag(:n) %></td></tr>
            <tr><td>&nbsp;</td><td><font style="font-style: italic; font-size: 10px">Only characters A-Z, 0-9, or _ allowed.</font> </td></tr>
            <tr><td><%= label_tag(:d, "Description:") %></td><td><%= text_field_tag(:d) %></td></tr>
            <tr><td><%= label_tag(:a, "Availability:") %></td><td>
            <%= select_tag(:a, options_for_select([['Public', 'public'], ['Private', 'private']], 2)) %></td></tr>
            <tr><td><%= label_tag(:tags, "Tags:") %></td><td><%= text_field_tag(:tags) %></td></tr>
            <tr><td></td><td><%= submit_tag("Create") %></td></tr>
         </table>
      </div>
    <% end %>
    <div id="portal" style="margin-top: 20px; margin-left: 20px">
        <a href="<%= APP_CONFIG['portal_url'] %>" title="Go to portal">Go to portal</a>
    </div>
<%- end -%>


