<h2>Manage Worksets</h2>
<%- if current_user.nil? -%>
   Please login.
<%- else -%>
  <%- if !@worksets.nil? && @worksets.length > 0 -%>

   <div id="openWorkset" style="margin-left: 20px">
     <%= form_tag(:controller => "registry", :action => "load") do %> 
       <select id="ws" name="ws">
         <%- @worksets.each do |workset| -%>
           <option id="<%= workset['id'] %>" value="<%= workset['id'] %>"><%= workset["name"] %> (Owner: <%= workset["author"] %>) </option>
         <%- end -%>
       </select>
   
       <%= submit_tag("Open") %>
     <% end %>
   </div>
   <br/>
   <br/>

   <%- if !@myworksets.nil? && @myworksets.length > 0 -%>
   <div id="removeWorkset" style="margin-left: 20px">
       <%= form_tag(:controller => "registry", :action => "remove") do %>

            <select id="ws" name="ws">
              <%- @myworksets.each do |workset| -%>
                <option id="<%= workset['id'] %>" value="<%= workset['id'] %>"><%= workset["name"] %> </option>
              <%- end -%>
            </select>

         <%= submit_tag("Remove", :confirm => 'Are you sure that you want to remove this workset?') %>
       <% end %>
   </div>
    <%- end -%>


  <%- else -%> 
     No worksets
  <%- end -%>

<%- end -%>
