<h2>Manage Worksets</h2>
  <%- if !@worksets.nil? && @worksets.length > 0 -%>

   <div id="openWorkset" style="margin-left: 20px">
     <%= form_tag(:controller => "registry", :action => "load") do %> 
       <select id="ws" name="ws">
         <%- @worksets.each do |workset| -%>
           <option id="<%= workset['id'] %>" value="<%= workset['id'] %>"><%= workset["name"] %> (Owner: <%= workset["author"] %>) </option>
         <%- end -%>
       </select>
   
       <%= submit_tag("Open") %>
     <% end %>
   </div>

<!--
     <hr align="left" style="margin-top: 30px; border 1px solid black; width: 200px; "/>
    
   <%= form_tag(:controller => "registry", :action => "remove") do %> 
     <h3>Remove a workset</h3>

     <select id="ws" name="ws">
       <%- @worksets.each do |workset| -%>
           <option id="<%= workset['id'] %>" value="<%= workset['id'] %>">
              <%= workset["author"] %>
              (Owner: <%= workset["owner"] %>,
              Availability: <%= workset["availability"] %>)
           </option>
       <%- end -%>
     </select>
   
     <%= submit_tag("Remove") %>
   <% end %>

-->


  <%- else -%> 
     No worksets
  <%- end -%>

