<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>

    <%# google analytics start %>
    <% if APP_CONFIG['add_google_analytics?'] %>
        <script>
            var trackingcode = "<%= APP_CONFIG['google_analytics_tracking_code'].html_safe %>"
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', trackingcode, 'auto');
            ga('send', 'pageview');
        </script>
    <% end %>
    <%# google analytics end %>

  </head>
  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="<%= onload_text %>" class="<%= render_body_class.html_safe %>">
    <div id="page">
      <div id="hd">
        <div id="logo">
          <h1 class="site_title"><%= link_to application_name, root_path %><%= (params[:controller] == "catalog" and !params[:id]) ? content_tag(:span, t('blacklight.search.search_results'), :id => 'results_text') : "" %></h1>
        </div>
        <div id="user_util_links">
          <span class="highlight">&nbsp;&nbsp;<%= render :partial=>'/user_util_links' %>&nbsp;&nbsp;</span>
        </div>
      </div>
      <div id="bd">
        <div id="main">
          <div id="main_container">
            <div id="js_flasher">
               <%= render :partial=>'/flash_msg' %>
            </div>
            <%= yield %>
          </div>
        </div>
        <div id="sidebar"><%= sidebar_items.join('').html_safe %></div>
      </div>
      <div id="ft">
        <%= raw(@footer) %>
        <%= render :partial=>'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
